.App {
  text-align: center;
  
  align-items: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.headerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.namesDiv{
  float: left;
  width: 100px; 
  box-sizing: border-box;
  background-color: rgb(246, 248, 249);
}
button{
  border-style: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.searchDiv{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80px;
  border-radius: 5px;
}
.selectedNameDiv{
  margin: 10px;
  width: 100px;
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.nameDiv{
  margin-left: 5px;
  margin-right: 5px;
  border: dotted rgb(33, 233, 230) 1px;
  background-color: rgb(246, 248, 249);
}
